{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <body>
    <!-- Start Page Banner Area -->
    <div class="page-banner-area bg-22 pt-100">
        <div style="padding-left: 280px" class="container">
                <div class="my-account-area ptb-100">
                    <div class="container">
                        <div class="page-banner-content">
                        <div class="row">
                            <div class="col-lg-12" style="width: 500px;margin-left: 50px" >
                                <h4>You are banned for some reason please call the administration...</h4>
                             </div>

                        </div>
                        </div>
                    </div>
                </div>


        </div>
    </div>
    <!-- End Page Banner Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class="ri-arrow-up-s-fill"></i>
        <i class="ri-arrow-up-s-fill"></i>
    </div>
    <!-- End Go Top Area -->


    </body>

{% endblock %}